
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hecta-primary: mat.define-palette(mat.$indigo-palette);
$hecta-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hecta-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hecta-theme: mat.define-light-theme((
  color: (
    primary: $hecta-primary,
    accent: $hecta-accent,
    warn: $hecta-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hecta-theme);
@font-face {
  font-family: tahu;
  src: url(./assets/font/Tahu!.ttf);
}
@font-face {
  font-family: rw;
  src: url(./assets/font/rw.ttf);
}
@font-face {
  font-family: rwl;
  src: url(./assets/font/rwl.ttf);
}
@font-face {
  font-family: toxic;
  src: url(./assets/font/Toxia-OwOA.ttf);
}
@font-face {
  font-family: pxl;
  src: url(./assets/font/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: p;
  src: url(./assets/font/Poppins.ttf);
}
@font-face {
  font-family: robo;
  src: url(./assets/font/glitch.ttf);
}
@font-face {
  font-family: l;
  src: url(./assets/font/legend.otf);
}
/* You can add global styles to this file, and also import other style files */
html{
  background: #111;
}
html, body { 
  height: 100vh;
  width: 100%;
  background: #111;
  color:#00ffff;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

 }

@keyframes fade-in{
  0%{
      opacity: 0;
  }
  100%{
      opacity:1;
  }
}
@keyframes fade-in-d{
  0%{
      opacity: 0;

  }
  100%{
      opacity:1;

  }
}
@keyframes fade-out{
  0%{

      opacity: 1;
  }
  100%{
      opacity:0;
  }
}
@keyframes hued {
  0%{
    filter: hue-rotate(0deg);
  }100%{
      filter: hue-rotate(360deg);
  }
}
@keyframes fade-in-lg {
  0%{
    opacity:0;

  }50%{
    opacity:1;

  }
  100%{
    opacity:0;

  }
}
@keyframes dwn-face {
  0%{

  }
  100%{
    transform: translateY(0%);
  }
}
html {
  scrollbar-color: ThreeDFace Scrollbar;
}


@font-face {
	font-family: hkgrotesk;
	src: url(./assets/fonts/hkgrotesk-light.otf);

	font-weight: 300
}

@font-face {
	font-family: hkgrotesk;
	src: url(./assets/fonts/hkgrotesk-regular.otf);
	font-weight: 400
}

@font-face {
	font-family: hkgrotesk;
	src: url(./assets/fonts/hkgrotesk-medium.otf);
	font-weight: 500
}

@font-face {
	font-family: hkgrotesk;
	src: url(./assets/fonts/hkgrotesk-semibold.otf);
	font-weight: 600
}

@font-face {
	font-family: hkgrotesk;
	src: url(./assets/fonts/hkgrotesk-bold.otf);
	font-weight: 700
}